@import "tailwindcss";

@theme {
  /* Цвета */
  --color-background: oklch(from hsl(240 10% 3.9%) l c h);
  --color-foreground: oklch(from hsl(0 0% 98%) l c h);
  --color-card: oklch(from hsl(240 10% 3.9%) l c h);
  --color-card-foreground: oklch(from hsl(0 0% 98%) l c h);
  --color-popover: oklch(from hsl(240 10% 3.9%) l c h);
  --color-popover-foreground: oklch(from hsl(0 0% 98%) l c h);
  --color-primary: oklch(from hsl(0 0% 98%) l c h);
  --color-primary-foreground: oklch(from hsl(240 5.9% 10%) l c h);
  --color-secondary: oklch(from hsl(240 3.7% 15.9%) l c h);
  --color-secondary-foreground: oklch(from hsl(0 0% 98%) l c h);
  --color-muted: oklch(from hsl(240 3.7% 15.9%) l c h);
  --color-muted-foreground: oklch(from hsl(240 5% 64.9%) l c h);
  --color-accent: oklch(from hsl(240 3.7% 15.9%) l c h);
  --color-accent-foreground: oklch(from hsl(0 0% 98%) l c h);
  --color-destructive: oklch(from hsl(0 62.8% 30.6%) l c h);
  --color-destructive-foreground: oklch(from hsl(0 0% 98%) l c h);
  --color-border: oklch(from hsl(240 3.7% 15.9%) l c h);
  --color-input: oklch(from hsl(240 3.7% 15.9%) l c h);
  --color-ring: oklch(from hsl(240 4.9% 83.9%) l c h);
  
  /* Радиус */
  --radius: 0.5rem;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}